$bootstrap-sass-asset-helper: true;
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './mixins.scss';
@import './variables.scss';

.view {
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    color: $dark-grey;

    .today-panel {
        @extend .panel;
        @extend .no-select;

        i {
            @extend .panel-open-close-arrow;
        }

        .today-panel-title {
            @extend .panel-title;
        }

        .today-panel-date {
            color: $lighter-grey;
            font-size: 16px;
            display: inline-block;
            font-style: italic;
        }

        .add-habit {
            @extend .box-shadow-4;

            border: none;
            display: block;
            width: 100%;
            background-color: white;
            vertical-align: middle;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            height: 60px;
            margin-top: 15px;
        }

        .add-habit-line-breaker {
            display: block;
            width: 100%;
            border: 0.5px solid $super-light-grey;
        }

        .add-habit-input-form {

            .add-habit-input-form-name-and-description, .add-habit-input-form-unit-name {
                box-sizing: border-box;
                display: inline-block;
                float: left;
                width: 250px;

                .add-habit-input-form-name {
                    @extend .input-style-1;

                    height: 40px;
                    width: 100%;
                }

                .add-habit-input-form-description {
                    @extend .input-style-1;

                    height: 100px;
                    width: 100%;
                }

                .habit-unit-name-singular, .habit-unit-name-plural {
                    @extend .input-style-1;

                    height: 40px;
                    margin-bottom: 10px;
                    width: 200px;
                }
            }

            .add-habit-input-form-unit-name {
                width: 200px;
                margin-left: 10px;
            }

            .add-habit-input-form-time-of-day {
                display: inline-block;
                width: 100px;
                float: left;

                .habit-time-of-day {
                    @extend .button-style-1;

                    height: 40px;
                    margin: 0 0 10px 10px;
                    width: 90px;
                }
            }

            .add-habit-input-form-frequency-tag-name {
                display: inline-block;
                width: 170px;
                float: left;

                button {
                    @extend .button-style-1;

                    margin: 0 0 10px 10px;
                    height: 40px;
                    width: 150px;
                }
            }

            .add-habit-input-form-habit-tag-name {
                display: inline-block;
                width: 100px;
                float: left;

                button {
                    @extend .button-style-1;

                    width: 90px;
                    height: 40px;
                    margin: 0 0 10px 0;
                }
            }

            .add-habit-input-form-x-times-per-week {
                input {
                    @extend .input-style-1;

                    width: 100px;
                    height: 40px;
                }
            }

            .add-habit-input-form-specific-days-of-week {
                display: block;
                float: left;
                width: 330px;

                input {
                    @extend .input-style-1;

                    height: 40px;
                    width: 100px;
                    display: inline-block;
                    margin: 0 10px 10px 0;
                    float: left;
                }
            }

            .add-habit-input-form-x-times-per-y-days {
                display: block;
                float: left;
                width: 110px;

                input {
                    @extend .input-style-1;

                    height: 40px;
                    width: 100px;
                    display: inline-block;
                    margin: 0 10px 10px 0;
                    float: left;
                }
            }

            .add-new-habit {
                @extend .button-style-2;

                height: 40px;
                margin-top: 10px;
                width: 160px;
                border-radius: 5px;
                font-size: 20px;
            }
        }
    }

    .history-viewer-panel {
        @extend .panel;
        @extend .no-select;

        margin-top: 10px;

        .history-viewer-panel-title {
            @extend .panel-title;
        }

        .selected-date-title {
            color: $lighter-grey;
            font-size: 16px;
            display: inline-block;
            font-style: italic;
        }

        i {
            @extend .panel-open-close-arrow;
        }

        .date-entry {
            display: block;

            input {
                width: 100px;
                margin: 10px 0 0 10px;
                @extend .input-style-1;
                text-align: center;
            }

            .separating-text {
                margin-left: 5px;
                color: $dark-grey;
            }

            .select-yesterday, .before-yesterday {
                border: 1px solid $grey;
                color: $light-grey;
                border-radius: 5px;
                padding: 5px;
                margin-right: 10px;
                font-size: 14px;
                cursor: pointer;

                &:hover {
                    background-color: $very-light-grey;
                    color: #777;
                }
            }
        }

        .change-date {
            position: absolute;
            border: 1px solid $lighter-grey;
            color: $light-grey;
            border-radius: 5px;
            margin-left: 10px;
            cursor: pointer;
            padding: 2px;
            font-size: 12px;
            top: 48px;

            &:hover {
                background-color: $very-light-grey;
                color: $grey;
            }
        }
    }

    .habit-list {
        display: block;
        overflow: auto;
        margin-top: -5px;

        &.good-habits {
            .habit-success {
                background-color: $good-habit-success-color;
                border: 1px solid $good-habit-success-border-color;
                .frequency-statistic {
                    color: $good-habit-success-frequency-statistic-color;
                }
                .current-progress {
                    color: $good-habit-success-frequency-statistic-color;
                }
            }
            .habit-failure {
                background-color: $good-habit-failure-color;
                border: 1px solid $good-habit-failure-border-color;
                .frequency-statistic {
                    color: $good-habit-failure-frequency-statistic-color;
                }
                .current-progress {
                    color: $good-habit-failure-frequency-statistic-color;
                }
            }
        }

        &.bad-habits {
            .habit-success {
                background-color: $bad-habit-success-color;
                border: 1px solid $bad-habit-success-border-color;
                .frequency-statistic {
                    color: $bad-habit-success-frequency-statistic-color;
                }
                .current-progress {
                    color: $bad-habit-success-frequency-statistic-color;
                }
            }
            .habit-failure {
                background-color: $bad-habit-failure-color;
                border: $bad-habit-failure-border-color;
                .frequency-statistic {
                  color: $bad-habit-failure-frequency-statistic-color;
                }
                .current-progress {
                    color: $bad-habit-failure-frequency-statistic-color;
                    font-weight: 700;
                }
            }
        }

        .habit {
            float: left;
            display: inline-block;
            position: relative;
            padding: 7px;
            margin: 15px 15px 0 2px;
            width: 300px;
            height: 100px;
            box-sizing: content-box;
            color: white;

            .habit-name {
                font-weight: 600;
                font-size: 17px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 150px;
                float: left;
            }

            .frequency-stats-list {
                float: right;
                height: 100px;
                width: 150px;
                overflow: scroll;
            }

            .frequency-statistic {
                font-weight: 200;
                font-size: 12px;
                text-align: right;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .current-progress {
                @extend .frequency-statistic;
                font-weight: 600;
            }

            .edit-habit-icon {
                @extend .glyphicon;
                @extend .glyphicon-edit;
                font-size: 20px;
                margin-top: 5px;
                cursor: pointer;
                float: left;
                clear: left;
            }

            .habit-amount-complete {
                box-sizing: border-box;
                position: absolute;
                bottom: 7px;
                border: none;
                width: 160px;

                input  {
                    box-sizing: border-box;
                    font-size: 13px;
                    border: none;
                    border-radius: 1px;
                    height: 25px;
                    padding: 5px;
                    width: 100%;
                    color: rgb(71, 71, 71);
                }

                i {
                    display: none;
                }

                &.editing {
                    width: 170px;

                    i {
                        display: block;
                        position: absolute;
                        right: -35px;
                        top: -4px;
                        font-size: 33px;
                        cursor: pointer;
                        color: #444;

                        &:hover {
                            color: #222;
                        }
                    }
                }
            }
        }

        .habit-success {
            @extend .habit;
        }
        .habit-failure {
            @extend .habit;
        }
    }
    .edit-habit-header {
        text-align: center;
        .revert-to-defaults-button {
            @extend .btn;
            @extend .btn-default;
        }
    }
    .edit-habit-body {
        .select-habit-kind {
            margin-bottom: 8px;
            text-align: center;
            width: 50%;
            margin-left: 25%;
            margin-right: 40%;
            .habit-button {
                @extend .button-style-3;
                width: 110px;
                height: 40px;
            }
            .good-habit-button {
                @extend .habit-button;
                margin-right: 10px;
                &:hover {
                    border: none;
                    background-color: $good-habit-button-background-color;
                }
                &.selected {
                    border: 1px solid $good-habit-button-border-color;
                    background-color: $good-habit-button-background-color;
                }
            }
            .bad-habit-button {
                @extend .habit-button;
                &:hover {
                    border: none;
                    background-color: $bad-habit-button-background-color;
                }
                &.selected {
                    border: 1px solid $bad-habit-button-border-color;
                    background-color: $bad-habit-button-background-color;
                }
            }
        }

        .edit-habit-text-input {
            @extend .form-control;
            margin-bottom: 8px;
        }

        .select-habit-time {
            text-align: center;
            margin-bottom: 8px;
            margin-top: 10px;

            .habit-time-button {
                @extend .button-style-3;
                margin-left: 5px;
                margin-right: 5px;
            }
        }

        .select-frequency-type {
            text-align: center;
            margin-bottom: 8px;

            .frequency-type-button {
                @extend .button-style-3;
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }
    .edit-habit-footer-buttons {
        text-align: center;
        .edit-habit-cancel-button {
          @extend .btn;
          @extend .btn-default;
        }
        .edit-habit-submit-button {
          @extend .btn;
          @extend .btn-primary;
        }
    }
}

.display-none {
    display: none !important;
}

.visibility-hidden {
    visibility: hidden !important;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}

.panel {
    position: relative;
    box-sizing: border-box;
    display: block;
    padding: 15px;
    float: left;
    width: 100%;

    @extend .box-shadow-5;
}

.panel-title {
    color: #555;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        color: #333;
    }
}

.panel-open-close-arrow {
    position: absolute;
    right: 0px;
    top: 10px;
    font-size: 48px;
    color: #999;
}
