@import './mixins.scss';

.view {
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    color: #444;

    .today-panel {
        @extend .panel;
        @extend .no-select;

        i {
            @extend .panel-open-close-arrow;
        }

        .today-panel-title {
            @extend .panel-title;
        }

        .today-panel-date {
            color: #AAA;
            font-size: 16px;
            display: inline-block;
            font-style: italic;
        }

        .add-habit {
            @extend .box-shadow-4;

            border: none;
            display: block;
            width: 100%;
            background-color: white;
            vertical-align: middle;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            height: 60px;
            margin-top: 15px;
        }

        .add-habit-line-breaker {
            display: block;
            width: 100%;
            border: 0.5px solid #ddd;
        }

        .add-habit-input-form {

            .add-habit-input-form-name-and-description, .add-habit-input-form-unit-name {
                box-sizing: border-box;
                display: inline-block;
                float: left;
                width: 250px;

                .add-habit-input-form-name {
                    @extend .input-style-1;

                    height: 40px;
                    width: 100%;
                }

                .add-habit-input-form-description {
                    @extend .input-style-1;

                    height: 100px;
                    width: 100%;
                }

                .habit-unit-name-singular, .habit-unit-name-plural {
                    @extend .input-style-1;

                    height: 40px;
                    margin-bottom: 10px;
                    width: 200px;
                }
            }

            .add-habit-input-form-unit-name {
                width: 200px;
                margin-left: 10px;
            }

            .add-habit-input-form-time-of-day {
                display: inline-block;
                width: 100px;
                float: left;

                .habit-time-of-day {
                    @extend .button-style-1;

                    height: 40px;
                    margin: 0 0 10px 10px;
                    width: 90px;
                }
            }

            .add-habit-input-form-frequency-tag-name {
                display: inline-block;
                width: 170px;
                float: left;

                button {
                    @extend .button-style-1;

                    margin: 0 0 10px 10px;
                    height: 40px;
                    width: 150px;
                }
            }

            .add-habit-input-form-habit-tag-name {
                display: inline-block;
                width: 100px;
                float: left;

                button {
                    @extend .button-style-1;

                    width: 90px;
                    height: 40px;
                    margin: 0 0 10px 0;
                }
            }

            .add-habit-input-form-x-times-per-week {
                input {
                    @extend .input-style-1;

                    width: 100px;
                    height: 40px;
                }
            }

            .add-habit-input-form-specific-days-of-week {
                display: block;
                float: left;
                width: 330px;

                input {
                    @extend .input-style-1;

                    height: 40px;
                    width: 100px;
                    display: inline-block;
                    margin: 0 10px 10px 0;
                    float: left;
                }
            }

            .add-habit-input-form-x-times-per-y-days {
                display: block;
                float: left;
                width: 110px;

                input {
                    @extend .input-style-1;

                    height: 40px;
                    width: 100px;
                    display: inline-block;
                    margin: 0 10px 10px 0;
                    float: left;
                }
            }

            .add-new-habit {
                @extend .button-style-2;

                height: 40px;
                margin-top: 10px;
                width: 160px;
                border-radius: 5px;
                font-size: 20px;
            }
        }
    }

    .history-viewer-panel {
        @extend .panel;
        @extend .no-select;

        margin-top: 10px;

        .history-viewer-panel-title {
            @extend .panel-title;
        }

        .selected-date-title {
            color: #AAA;
            font-size: 16px;
            display: inline-block;
            font-style: italic;
        }

        i {
            @extend .panel-open-close-arrow;
        }

        .date-entry {
            display: block;

            input {
                width: 100px;
                margin: 10px 0 0 10px;
                @extend .input-style-1;
                text-align: center;
            }

            .separating-text {
                margin-left: 5px;
                color: #444;
            }

            .select-yesterday, .before-yesterday {
                border: 1px solid #777;
                color: #999;
                border-radius: 5px;
                padding: 5px;
                margin-right: 10px;
                font-size: 14px;
                cursor: pointer;

                &:hover {
                    background-color: #CCC;
                    color: #777;
                }
            }
        }

        .change-date {
            position: absolute;
            border: 1px solid #AAA;
            color: #999;
            border-radius: 5px;
            margin-left: 10px;
            cursor: pointer;
            padding: 2px;
            font-size: 12px;
            top: 48px;

            &:hover {
                background-color: #CCC;
                color: #777;
            }
        }
    }

    .habit-list {
        display: block;
        overflow: auto;
        margin-top: -5px;

        &.good-habits {
            .habit-success {
                background-color: rgba(14, 238, 70, 0.59);
                border: 1px solid rgba(100, 182, 120, 1);
                .frequency-statistic {
                    color: rgb(16, 147, 0);
                }
                .current-progress {
                    color: rgb(35, 126, 27);
                }
            }
            .habit-failure {
                background-color: rgb(132, 132, 231);
                border: 1px solid rgb(93, 93, 230);
                .frequency-statistic {
                    color: rgb(79, 79, 79);
                }
                .current-progress {
                    color: rgb(66, 66, 66);
                }
            }
        }

        &.bad-habits {
            .habit-success {
                background-color: #ffc971;
                border: 1px solid #e9b155;
                .frequency-statistic {
                    color: rgb(91, 79, 0);
                }
                .current-progress {
                    color: rgb(99, 84, 0);
                }
            }
            .habit-failure {
                background-color: rgb(203, 68, 68);
                border: rgb(153, 0, 0);
                .frequency-statistic {
                  color: rgb(32, 0, 0);
                }
                .current-progress {
                    color: rgb(56, 0, 0);
                    font-weight: 700;
                }
            }
        }

        .habit {
            float: left;
            display: inline-block;
            position: relative;
            padding: 7px;
            margin: 15px 15px 0 2px;
            min-width: 200px;
            min-height: 80px;
            box-sizing: content-box;
            color: white;

            .habit-name {
                font-weight: 600;
                width: 150px;
                float: left;
            }

            .frequency-stats-list {
                float: right;
            }

            .frequency-statistic {
                margin-left: 10px;
                width: 130px;
                font-weight: 200;
                font-size: 12px;
                text-align: right;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .edit-habit {
              font-size: 15px;
            }

            .current-progress {
                @extend .frequency-statistic;
                font-weight: 600;
            }

            .habit-amount-complete {
                box-sizing: border-box;
                position: absolute;
                bottom: 7px;
                border: none;
                width: 160px;

                input  {
                    box-sizing: border-box;
                    border: none;
                    border-radius: 1px;
                    height: 25px;
                    padding: 5px;
                    width: 100%;
                }

                i {
                    display: none;
                }

                &.editing {
                    width: 170px;

                    i {
                        display: block;
                        position: absolute;
                        right: -35px;
                        top: -4px;
                        font-size: 33px;
                        cursor: pointer;
                        color: #444;

                        &:hover {
                            color: #222;
                        }
                    }
                }
            }
        }

        .habit-success {
            @extend .habit;
        }
        .habit-failure {
            @extend .habit;
        }
    }
}

.display-none {
    display: none !important;
}

.visibility-hidden {
    visibility: hidden !important;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}

.panel {
    position: relative;
    box-sizing: border-box;
    display: block;
    padding: 15px;
    float: left;
    width: 100%;

    @extend .box-shadow-5;
}

.panel-title {
    color: #555;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        color: #333;
    }
}

.panel-open-close-arrow {
    position: absolute;
    right: 0px;
    top: 10px;
    font-size: 48px;
    color: #999;
}
