// @refer http://cssdeck.com/labs/16-box-shadows-to-save-your-time/
.box-shadow-5 {
  box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
}

.box-shadow-14 {
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
