@import './variables.scss';

// @refer http://cssdeck.com/labs/16-box-shadows-to-save-your-time/
.box-shadow-5 {
  box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
}
.box-shadow-4{
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
  }
}
.box-shadow-14 {
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

// Different button styles.
.button-style-1 {
  color: $dark-grey;
  display: block;
  cursor: pointer;
  background-color: $crazy-light-grey;
  border: 1px solid $super-light-grey;

  &:hover {
    background-color: $super-light-grey;
  }

  &.selected {
    border: 1px solid $another-grey;
    background-color: $super-light-grey;
  }
}

.button-style-2 {
  color: white;
  display: block;
  cursor: pointer;
  background-color: $light-green;
  border: 1px solid green;

  &:hover {
    background-color: green;
  }
}

// Different input styles.
.input-style-1 {
  box-sizing: border-box;
  padding: 5px;
  display: inline-block;
  resize: none;
  box-shadow: none;
  border: 1px solid $grey;
  border-radius: 2px;
  font-size: 16px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  not supported by any browser */
  cursor: default;
}
