$dark-grey: #444;
$grey: #777;
$light-grey: #999;
$lighter-grey: #AAA;
$very-light-grey: #CCC;
$super-light-grey: #ddd;

$good-habit-success-color: rgba(14, 238, 70, 0.59);
$good-habit-success-border-color: rgba(100, 182, 120, 1);
$good-habit-success-frequency-statistic-color: rgb(35, 126, 27);
$good-habit-failure-color: rgb(132, 132, 231);
$good-habit-failure-border-color: rgb(93, 93, 230);
$good-habit-failure-frequency-statistic-color: rgb(66, 66, 66);

$bad-habit-success-color: #ffc971;
$bad-habit-success-border-color: #e9b155;
$bad-habit-success-frequency-statistic-color: rgb(99, 84, 0);
$bad-habit-failure-color: rgb(203, 68, 68);
$bad-habit-failure-border-color: rgb(153, 0, 0);
$bad-habit-failure-frequency-statistic-color: rgb(32, 0, 0);
