{:enums {:habit_time {:description "Describes what time of day a habit should be completed."
                      :values [ :MORNING :EVENING :ANYTIME]}}

 :unions {:frequency {:description "A list of possible frequency settings."
                      :members [:specific_day_of_week_frequency
                                :total_week_frequency
                                :every_x_days_frequency]}

          :habit {:description "A good or bad habit."
                  :members [:good_habit :bad_habit]}}

 :objects {:date {:description "A year/month/day."
                  :fields {:year {:type (non-null Int)}
                           :month {:type (non-null Int)}
                           :day {:type (non-null Int)}}}

           :specific_day_of_week_frequency {:description "A frequency that happens on specific days of the week."
                                            :fields {:monday {:type Int}
                                                     :tuesday {:type Int}
                                                     :wednesday {:type Int}
                                                     :thursday {:type Int}
                                                     :friday {:type Int}
                                                     :saturday {:type Int}
                                                     :sunday {:type Int}}}

           :total_week_frequency {:description "A frequency that happens a certain number of times per week."
                                  :fields {:week {:type (non-null Int)}}}

           :every_x_days_frequency {:description "A frequency that happens a certain number of times per a certain number of days."
                                    :fields {:times {:type (non-null Int)}
                                             :days {:type (non-null Int)}}}

           :good_habit {:description "A good habit that we are trying to maintain."
                        :fields {:_id {:type (non-null ID)}
                                 :suspended {:type (non-null Boolean)}
                                 :name {:type (non-null String)}
                                 :description {:type String}
                                 :unit_name_singular {:type (non-null String)}
                                 :unit_name_plural {:type (non-null String)}
                                 :time_of_day {:type (non-null :habit_time)}
                                 :target_frequency {:type (non-null :frequency)
                                                    :resolve :query/tag-type-for-target-frequency}}}

           :bad_habit {:description "A bad habit we are trying to reduce."
                       :fields {:_id {:type (non-null ID)}
                                :suspended {:type (non-null Boolean)}
                                :name {:type (non-null String)}
                                :description {:type String}
                                :unit_name_singular {:type (non-null String)}
                                :unit_name_plural {:type (non-null String)}
                                :threshold_frequency {:type (non-null :frequency)
                                                      :resolve :query/tag-type-for-threshold-frequency}}}

           :habit_day_record {:description "A record of how much a habit was performed on a specific day."
                              :fields {:_id {:type (non-null ID)}
                                       :habit_id {:type (non-null ID)}
                                       :date {:type (non-null :date)
                                              :resolve :query/date-to-y-m-d-format}
                                       :amount {:type (non-null Int)}}}

           :habit_frequency_stats {:description "Statistics for how the user has performed with this habit."
                                   :fields {:habit_id {:type (non-null ID)}
                                            :total_fragments {:type Int}
                                            :successful_fragments {:type Int}
                                            :total_done {:type Int}
                                            :current_fragment_streak {:type Int}
                                            :best_fragment_streak {:type Int}}}}

 :queries {:get_habits {:type (non-null (list (non-null :habit)))
                        :description "Get all habits."
                        :resolve :query/get-habits}

           :get_habit_data {:type (non-null (list (non-null :habit_day_record)))
                            :description "Get all the habit data that matches the request specifications."
                            :args {:after_date {:type :date_data}, :for_habit {:type ID}}
                            :resolve :query/get-habit-data}

           :get_frequency_stats {:type (non-null (list :habit_frequency_stats))  ; element will be nil if no habit data exists yet
                                 :description "Get a success percentage for each habit requested."
                                 :args {:habit_ids {:type (list (non-null ID))}}
                                 :resolve :query/get-frequency-stats}}

 :input-objects {:date_data {:description "A year/month/day."
                              :fields {:year {:type (non-null Int)}
                                       :month {:type (non-null Int)}
                                       :day {:type (non-null Int)}}}

                 :create_every_x_days_frequency_data {:description "The data required to create a every_x_days_frequency."
                                                      :fields {:type_name {:type (non-null String)}
                                                               :times {:type (non-null Int)}
                                                               :days {:type (non-null Int)}}}

                 :create_total_week_frequency_data {:description "The data required to create a total_week_frequency."
                                                    :fields {:type_name {:type (non-null String)}
                                                             :week {:type (non-null Int)}}}

                 :create_specific_day_of_week_frequency_data {:description "The data required to create a specific_day_of_week_frequency."
                                                              :fields {:type_name {:type (non-null String)}
                                                                       :monday {:type Int}
                                                                       :tuesday {:type Int}
                                                                       :wednesday {:type Int}
                                                                       :thursday {:type Int}
                                                                       :friday {:type Int}
                                                                       :saturday {:type Int}
                                                                       :sunday {:type Int}}}

                 :create_frequency_data {:description "The data required to create a frequency."
                                         :fields {:type_name {:type (non-null String)}
                                                  :every_x_days_frequency {:type :create_every_x_days_frequency_data}
                                                  :total_week_frequency {:type :create_total_week_frequency_data}
                                                  :specific_day_of_week_frequency {:type :create_specific_day_of_week_frequency_data}}}

                 :create_good_habit_data {:description "The data required to create a new good habit."
                                          :fields {:name {:type (non-null String)}
                                                   :description {:type String}
                                                   :time_of_day {:type (non-null :habit_time)}
                                                   :unit_name_singular {:type (non-null String)}
                                                   :unit_name_plural {:type (non-null String)}
                                                   :target_frequency {:type (non-null :create_frequency_data)}}}

                 :create_bad_habit_data {:description "The data required to create a new bad habit."
                                         :fields {:name {:type (non-null String)}
                                                  :description {:type String}
                                                  :unit_name_singular {:type (non-null String)}
                                                  :unit_name_plural {:type (non-null String)}
                                                  :threshold_frequency {:type (non-null :create_frequency_data)}}}

                 :create_habit_data {:description "The data required to create a new habit."
                                     :fields {:type_name {:type (non-null String)}
                                              :good_habit {:type :create_good_habit_data}
                                              :bad_habit {:type :create_bad_habit_data}}}}

 :mutations {:add_habit {:type (non-null :habit)
                         :description "Add a habit to your list of habits, returns the new habit."
                         :args {:create_habit_data {:type (non-null :create_habit_data)}}
                         :resolve :query/resolve-mutation-add-habit}

             :set_habit_data {:type (non-null :habit_day_record)
                              :description "Add a record of how much a habit was performed on a specific day."
                              :args {:habit_id {:type (non-null ID)}
                                     :amount {:type (non-null Int)}
                                     :date {:type (non-null :date_data)}}
                              :resolve :query/resolve-mutation-set-habit-data}
             :delete_habit {:type (non-null Boolean)
                            :description "Delete a habit by ID, returns true if the habit was deleted."
                            :args {:habit_id {:type (non-null ID)}}
                            :resolve :query/resolve-mutation-delete-habit}

             :set_suspend_habit {:type (non-null Boolean)
                                 :description "Set the `suspended` for a habit found by ID, returns true if the update was performed."
                                 :args {:habit_id {:type (non-null ID)}
                                        :suspended {:type (non-null Boolean)}}
                                 :resolve :query/resolve-mutation-set-suspend-habit}}}
